html{
    width: 100%;
    max-width: 100vw;
    /* overflow-x: hidden;  */
}

body{
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
    /* overflow-x: hidden;  */
}


.b-lazy {
    opacity:0;
    transition: all 0.5s;
  }
  .b-loaded {
    opacity:1;
  }

:root{
    font-size: 16px;
    font-family: 'Lato', 'Trebuchet', 'Verdana', 'Tahoma',
                 'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    --primary-color: #FF416C;
    --secondary-color: #FF4B2B;
    --dark-theme-color: #333;
    --dark-theme-contrast-color: #444;
    --darker-theme-contrast-color: #222;
    --dark-theme-negative: rgba(255,255,255,1);
    --white: rgba(255,255,255, 1);
    --semi-transparent-white: rgba(255,255,255, 0.7);
    --transparent: transparent;
    --box-shadow-lv1: 0 0 25px rgba(0,0,0,0.3);
    --box-shadow-lv2: 0 10px 25px rgba(0,0,0,0.3);
    --box-shadow-lv3: 0 38px 43px rgba(0,0,0,0.2);
}

a{
    text-decoration: none;
    color: var(--dark-theme-negative);
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

p{

}

h1{

}

#pseudo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.login-avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 6em;
    height: 6em;
    align-items: center;
    margin: 2em 0em;
    border-radius: 50%;
}
.login-avatar img{
    border-radius: 50%;
    width: 5.7rem;
    height: 5.7rem;
}

.login-banner{
    box-sizing: inherit;
    color: #474A59;
    width: 24rem;
    margin-top: 2.5em;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: -2rem;
    z-index: 3;
    box-shadow: var(--box-shadow-lv2);
}

.login-banner h3{
    font-weight: 300;
    margin: 0.7em 0em 0.7em 0.5em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 34.7rem;
    width: 27rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow-lv3);
    z-index: 2;
}

.input-field-wrapper{
    width: 60%;
    position: relative;
}

.input-field-icon-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.9em;
    height: 2.9em;
    position: absolute;
    top: -5px;
    left:-1.7em;
    border-radius: 50%;
    box-shadow: var(--box-shadow-lv1);
}

.input-field-styles{
    font-size: 0.88rem;
    color: var(--dark-theme-negative);
    height: 2.2rem;
    width: 100%;
    background-color: var(--dark-theme-contrast-color);
    box-sizing: border-box;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1px;
    box-shadow: var(--box-shadow-lv2);
    transition: 0.1s all ease-in-out;
}

#form-pwd-recovery{
    font-size: 0.75rem;
    text-decoration: underline;
    position: absolute;
    margin: 1em 1em;
    bottom: 0;
    right: 0;
}

.login-settings-btn {
    position: absolute;
    margin: 1em;
    bottom: 0;
    left: 0;
}

.login-settings-btn i{
    font-size: 1.3rem;
    color: var(--semi-transparent-white);
    transition: 0.1s ease-in-out all;
}

.login-settings-btn i:hover{
    color: var(--white);
}

#login-settings-menu-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 4;
    margin: 0em 0em 3.5em 1em;
    padding: 1em;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.login-settings-component{
    width: 26vw;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: var(--box-shadow-lv2);
    box-sizing: inherit;
    /* border: solid var(--primary-color) 1px; */
}

.login-settings-component-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0em;
    box-sizing: border-box;
}

.banner-sm{
    border-radius: 3px;
    box-shadow: var(--box-shadow-lv2);
    box-sizing: border-box;
    margin: 0.2em 1em 0.5em 1em;
}

.banner-sm *{
    margin: 0em;
    padding: 0.2em 1em;
    box-sizing: inherit;
}

#login-theme-selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.login-theme{
    width: 2.2em;
    height: 2.2em;
    margin: 0.5rem;
    border-radius: 50%;
    border: solid var(--dark-theme-negative) 2px;
    box-sizing: border-box;
}

::-webkit-input-placeholder { 
    font-size: 0.7rem;
}

::-moz-placeholder { 
    font-size: 0.7rem;
}

.input-submit-style{
    width: 8rem;
    height: 2.2rem;
    background-color: var(--transparent);
    border: none;
    border-radius: 3px;
    margin-top: 1em;
    box-shadow: var(--box-shadow-lv2);
}

.global-theme{
    background-color: var(--dark-theme-color);
}

.global-theme-contrast{
    background-color: var(--dark-theme-contrast-color);
}

.global-theme-contrast:focus{
    background-color: var(--darker-theme-contrast-color);
}

.global-theme-negative{
    background-color: var(--dark-theme-negative);
}

.btn-global-theme{
    background-color: var(--dark-theme-color);
    transition: 0.1s all ease-in-out;
}

.btn-global-theme:hover{
    background-color: var(--darker-theme-contrast-color);
}


.border-bottom-sm{
    border-bottom: 1px solid var(--primary-color);
}

.border-bottom-sm:focus{
    border: 1px solid var(--primary-color);
    outline: var(--primary-color);
}

.border-around-sm{
    border: solid 1px var(--primary-color);
}

.border-bottom-theme{
    border-bottom: solid 1px var(--primary-color);
}

.border-right-md{
    border-right: solid 4px var(--primary-color);
}

.txt-highlight{
    color: var(--primary-color);
}

.txt-gradient-theme{
    background-image: linear-gradient(to right,var(--primary-color) , var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-theme{
    background-image: linear-gradient(to right, var(--primary-color) , var(--secondary-color));
}

.bg-theme-quepal{
    background-image: linear-gradient(to right,#11998e , #38ef7d);
}

.bg-theme-plum-plate{
    background-image: linear-gradient(to right,#667eea, #764ba2);
}

.bg-theme-sunrise{
    background-image: linear-gradient(to right, #fda085, #f6d365);
}

.bg-theme-intuitive-purple{
    background-image: linear-gradient(to right,#DA22FF, #9733EE);
}

.bg-theme-glacia{
    background-image: linear-gradient(to right,#08c5eb, #805FEF);
}


.no-display{
    display: none !important;
}


/*----------Media Queries----------*/

/*landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    :root{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    :root {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
:root {
    font-size: 22px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
:root {
    font-size: 17px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    :root {
        font-size: 16px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    :root {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    :root {
        font-size: calc(16px * 1.3);
        }
    }
  
/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    :root {
        font-size: calc(16px * 2.4);
        }
    }

/*Landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    p{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    p {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
p {
    font-size: 19px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
p {
    font-size: 17px;
    word-spacing: 1px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    p {
        font-size: calc(16px * 1.3);
        }
    }

/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    p {
        font-size: calc(16px * 2.4);
        }
    }
