html{
    width: 100%;
    max-width: 100vw;
    /* overflow-x: hidden;  */
}

body{
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
    /* overflow-x: hidden;  */
}


.b-lazy {
    opacity:0;
    transition: all 0.5s;
  }
  .b-loaded {
    opacity:1;
  }

:root{
    font-size: 16px;
    font-family: 'Lato', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

p{

}

h1{

}

#pseudo-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.login-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.login-avatar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 6em;
    height: 6em;
    align-items: center;
    margin: 2em 0em;
    border-radius: 50%;
}
.login-avatar img{
    border-radius: 50%;
    width: 5.7rem;
    height: 5.7rem;
}

.login-banner{
    box-sizing: inherit;
    color: #474A59;
    width: 24rem;
    margin-top: 2.5em;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: -2rem;
    z-index: 3;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.login-banner h3{
    font-weight: 300;
    margin: 0.7em 0em 0.7em 0.5em;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 34.7rem;
    width: 27rem;
    border-radius: 0.5rem;
    box-shadow: 0 38px 43px rgba(0,0,0,0.2);
    z-index: 2;
}

.input-field-wrapper{
    width: 60%;
    position: relative;
}

.input-field-icon-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2.9em;
    height: 2.9em;
    position: absolute;
    top: -5px;
    left:-1.7em;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(0,0,0,0.3);
}

.input-field-styles{
    font-size: 0.88rem;
    color: #FFF;
    height: 2.2rem;
    width: 100%;
    background-color: #444;
    box-sizing: border-box;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 1px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transition: 0.1s all ease-in-out;
}

#form-pwd-recovery{
    font-size: 0.75rem;
    text-decoration: underline;
    position: absolute;
    margin: 1em 1em;
    bottom: 0;
    right: 0;
}

.settings-icon-wrapper {
    position: absolute;
    margin: 1em;
    bottom: 0;
    left: 0;
}

.settings-icon-wrapper i{
    font-size: 1.3rem;
    color: rgba(255,255,255, 0.7);
    transition: 0.1s ease-in-out all;
}

.settings-icon-wrapper i:hover{
    color: rgba(255,255,255, 1);
}

::-webkit-input-placeholder { 
    font-size: 0.7rem;
}

::-moz-placeholder { 
    font-size: 0.7rem;
}

.input-submit-style{
    width: 8rem;
    height: 2.2rem;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    margin-top: 1em;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.dark-theme{
    background-color: #333;
}

.dark-theme-contrast{
    background-color: #444;
}

.dark-theme-contrast:focus{
    background-color: #222;
}

.dark-theme-negative{
    background-color: #fff;
}

.btn-dark-theme{
    background-color: #333;
    transition: 0.1s all ease-in-out;
}

.btn-dark-theme:hover{
    background-color: #222;
}

.bg-theme{
    background-image: linear-gradient(to right,#FF416C , #FF4B2B);
}


.input-theme{
    border-bottom: 1px solid #FF416C;
}

.input-theme:focus{
    border: 1px solid #FF416C;
    outline: #FF416C;
}

.border-full-theme{
    border: solid 1px #FF416C;
}

.border-bottom-theme{
    border-bottom: solid 1px #FF416C;
}

.border-right-md-theme{
    border-right: solid 4px #FF416C;
}

.txt-theme{
    color: #FF416C;
}

.txt-gradient-theme{
    background-image: linear-gradient(to right,#FF416C , #FF4B2B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.no-display{
    display: none;
}


/*----------Media Queries----------*/

/*landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    :root{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    :root {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
:root {
    font-size: 22px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
:root {
    font-size: 17px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    :root {
        font-size: 16px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    :root {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    :root {
        font-size: calc(16px * 1.3);
        }
    }
  
/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    :root {
        font-size: calc(16px * 2.4);
        }
    }

/*Landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    p{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    p {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
p {
    font-size: 19px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
p {
    font-size: 17px;
    word-spacing: 1px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    p {
        font-size: calc(16px * 1.3);
        }
    }

/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    p {
        font-size: calc(16px * 2.4);
        }
    }
